# Compiler files
cache/
out/

# Ignores development broadcast logs
!/broadcast
/broadcast/**
!/broadcast/EigenLayerDeploy.s.sol/5/**
!/broadcast/PlaygroundAVSDeployer.s.sol/5/**

# Docs
docs/

# Dotenv file
.env

# forge dependencies (submodules)
lib/**
script/output/31337/*.json
