# Compiler files
cache/
out/

# Ignores development broadcast logs and outputs
/broadcast/**
!/broadcast/EigenLayerDeploy.s.sol/5/**
script/output/31337/*.json
# we don't share the avs deployments, even on chainid 5, because local forks of goerli have chainid 5
script/output/**/playground_avs_deployment_output.json

# Docs
docs/

# Dotenv file
.env

# forge dependencies (submodules)
lib/**
